<!--welcome page with 3 picture of ingredients that will send you to the recipes if clicked-->

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/cook.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="CUR[RY]">
    </div>

<!--title-->
<div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Welcome to CUR[RY]</h1>
    <p class="sans" > 
        Come join CUR[RY] Cooking, Nutrition, and Recipes. We have a huge selection of recipe ideas. CUR[RY] is a place to gather everyone to the kitchen because we believe that is it at the heart of home. Eat thoughtfully, live joyfully.
    </p>
</div>
</div>

<!--salmon recipe-->
<div class="row row-cols-2 row-cols-lg-6  g-2 g-lg-3 py-4">
    <a href="recipe" class="col text-center category__pic">
        <div class="category__img shadow">
            <img src="img/salmon.jpg" alt="salmon" loading="lazy">
        </div>
        <div class="pt-1">Garlic Butter Salmon</div>
    </a>
<!--tofu recipe-->
    <a href="recipe" class="col text-center category__pic">
        <div class="category__img shadow">
            <img src="img/tofu.jpg" alt="tofu" loading="lazy">
        </div>
        <div class="pt-1">Pan-Fried Sesame Garlic Tofu</div>
    </a>
<!--tempura recipe-->
    <a href="recipe" class="col text-center category__pic">
        <div class="category__img shadow">
            <img src="img/tempura.jpg" alt="tempura" loading="lazy">
        </div>
        <div class="pt-1">Tempura</div>
    </a>





</div>