<!-- https://www.recipetineats.com/garlic-butter-salmon-recipe/-->
<!-- https://www.justonecookbook.com/tempura-recipe/ -->
<!-- https://www.tablefortwoblog.com/pan-fried-sesame-garlic-tofu/-->

<!--this is the recipe/ingredients page-->
<!--exports.Recipe = async(req, res) => {res.render('Recipe', {title: 'recipe'});}-->

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Recipes</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">We are currently adding more recipes so please be patient!</p>
    </div>
</div>
<div class="text-left">
    <div class="col-5 col-lg-5">
        <img src="/img/salmon.jpg" width="200" height="300" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="CUR[RY]">
        <div class="text-left">
            <h1 class="display-60">Garlic Butter Salmon</h1>
            <!--ingredients-->
            <p> ▢ 4 salmon fillets (180g/6oz each), skinless and boneless <br>
                ▢ 1/2 tsp salt , cooking / kosher <br>
                ▢ 1/4 tsp black pepper <br>
                ▢ 1 1/2 tbsp olive oil <br>
                ▢ 1 tbsp garlic (~2 cloves) , finely minced by hand (don't use a garlic press) <br>
                ▢ 90g / 6 tbsp salted butter , cut into cubes (or unsalted + 1/4 tsp salt) <br>
                ▢ 1 tsp lemon juice , plus more to taste <br>
                ▢ 2 tsp parsley , finely chopped</p>
        </div>
    </div>
</div>
<div class="text-right">
    <h2 class="text-right">
        <!--recipe-->
        HOW TO COOK GARLIC BUTTER SALMON<br>
        <p> <br>▢ Season salmon with salt and pepper. <br>
            ▢ Sear the curved presentation side of the salmon (ie. put it in upside down) and cook for 3 minutes until it is nicely golden. <br>
            ▢ Butter and garlic. <br>
            ▢ Turn the salmon, cook another minute, then add the butter. As soon as the butter melts, add the garlic.
            ▢ Then Baste, baste, baste. <br>
            ▢ Immediately after you have added the garlic and even before it has had a chance to go golden, start basting. <br>
            ▢ To do this, tilt the pan slightly so the butter pools on one side. <br>
            ▢ Then scoop up the butter using a large spoon and spoon it over the salmon. <br>
            ▢ The garlic will cook as you baste so by the time the salmon is done, the garlic is perfectly golden.<br>
            ▢ Baste 1 1/2 minutes.<br>
            ▢ Baste for 1 1/2 minutes in total, which should be a total cooking time of around 3 minutes for the second side.<br>
            ▢ Target an internal temperature of 50°C/122°F for medium-rare (optimum juiciness), with the thermometer inserted into the middle of the thickest part of the salmon.<br>
            ▢ Rest 3 minutes, then serve with the garlic butter in the pan!</p></h2>
</div>

<div class="text-left">
    <div class="col-5 col-lg-5">
        <img src="/img/tempura.jpg" width="200" height="300" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="CUR[RY]">
        <div class="text-left">
            <h1 class="display-60">Tempura</h1>
            <!--ingredients-->
            <p> ▢ 1 large egg <br>
                ▢ 200 ml iced water <br>
                ▢ 1 cup all-purpose flour <br>
                FOR THE SAUCE
                ▢ ¾ cup dashi <br>
                ▢ 3 tbsp soy sauce <br>
                ▢ 2 tbsp mirin <br>
                ▢ 2 tsp sugar<br>
                TEMPURA INGREDIENTS <br>
                ▢ shrimp<br>
                ▢ shiso leaves<br>
                ▢ japanese sweet potato<br>
                ▢ japanese or chinese eggplant<br>
                ▢ king oyster mushrooms<br>
            </p>
 
        </div>
    </div>
</div>
<div class="text-right">
    <h2 class="text-right">
        <!--recipe-->
         HOW TO COOK TEMPURA <p>
        <br>▢ Combine the dashi, soy sauce, mirin, and sugar in a small saucepan and bring to boil. Then lower the heat and let it simmer until the sugar is completely dissolved.
        <br>▢ Cut your ingredients. (Shrimp, oysters, vegetables).
        <br>▢ Prepare the oil to 350°F (180°C).
        <br>▢ While the oil is heating up, start preparing the tempura batter. Add the egg and the iced water into a 2-cup measuring cup (or any bowl). 
        <br>▢ Whisk the egg mixture vigorously and discard the foam on the surface.
        <br>▢ Sift the flour into a large bowl. Slowly pour the egg mixture into the flour. 
        <br>▢ Mix the batter, but do not overmix; it is okay to leave some lumps in the batter. 
        <br>▢ Keep the batter cold at all times. Make the batter right before deep-frying to avoid activating the wheat gluten.
        <br>▢ Dip the pieces of vegetables and meat in the batter. 
        <br>▢ Deep-fry the ingredients until golden brown. Do not crowd the pot because the temperature of the oil can drop quickly.
        <br>▢ Transfer the tempura to a wire rack or a plate lined with a paper towel to drain excessive oil.
        <br>▢ Between batches, clean the oil by scooping up the crumbs, which would burn and turn the oil darker if left in the pot.
        <br>▢ After that you are ready to serve with tempura dipping sauce!</p></h2>
</div>
<div class="text-left">
    <div class="col-5 col-lg-5">    
        <img src="/img/tofu.jpg" width="200" height="300" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="CUR[RY]">
        <div class="text-left">
        <h1 class="display-60">Pan-Fried Sesame Garlic Tofu</h1>
        <!--ingredients-->
        <p> ▢ 14 ounces extra firm tofu <br>
            ▢ 2 tablespoons cornstarch <br>
            ▢ ½ tablespoon sesame oil <br>
            ▢ 1 tablespoon vegetable oil <br>
            FOR THE SAUCE
            ▢ ¼ cup low-sodium soy sauce <br>
            ▢ ¼ cup water <br>
            ▢ 2 teaspoons honey <br>
            ▢ 1 ½ teaspoons sambal oelek, (if you like it less spicy, stick with 1 teaspoon) <br>
            ▢ 1 teaspoon garlic paste <br>
            ▢ ½ teaspoon rice wine vinegar <br>
            ▢ 1 tablespoon cornstarch</p>
        </div>
    </div>
</div>
<div class="text-right">
    <h2 class="text-right">
        <!--recipe-->
         HOW TO COOK PAN-FRIED SESAME GARLIC TOFU <p>
        <br>▢ Place two paper towels on a plate then place the entire block of tofu (drained from its packaging liquid) onto the plate. 
        <br>▢ Place two more paper towels on top of the tofu then put a heavy item on top. 
        <br>▢ Not TOO heavy that it would completely crush the tofu but heavy enough that it can squeeze out liquid. 
        <br>▢ I like using a cast iron skillet.
        <br>▢ Leave for 30 minutes and halfway through, change out the paper towels.
        <br>▢ ALTERNATIVELY and more eco-friendly: place a wire baking rack on top of a rimmed baking sheet. 
        <br>▢ Place tofu on top and then put a heavy object on top and let drain for 30 minutes.
        <br>▢ Once the tofu has drained, slice in half then into cubes and place into a large bowl. 
        <br>▢ Sprinkle cornstarch on top and gently toss with your hands to ensure all tofu pieces are covered.
        <br>▢ In a large skillet, add sesame oil and vegetable oil then bring up to medium-high heat.
        <br>▢ Once oil is heated up, add the tofu to the skillet and let brown on all sides.
        <br>▢ In the meantime, whisk together the ingredients for the sauce.
        <br>▢  Once the tofu has browned and crisped up on all sides, add the sauce to the skillet and it should start to thicken immediately. 
        <br>▢ Toss the tofu around to coat then remove from heat.
        <br>▢ Serve and enjoy!</p></h2>
</div>
